@import "src/assets/styles/colors";

.footer {
  background-color: $body-copy-grey-dark-25;
  color: $defining-grey;
  margin: 0;
  overflow: hidden;
  padding-top: 1.875em;
  margin-top: 5em;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3.125em;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
  }

  .social-icon {
    border: 0;
    display: block;
    height: 1.25em;
    padding: .75em;
    width: 2.75em;
  
    span {
      background-position: 50%;
      background-repeat: no-repeat;
      border: 0;
      display: block;
      height: 100%;
      padding: 0;
      text-align: left;
      text-indent: -9999em;
  
      &:hover {
        background-position: 100%;
      }
    }
  
    &.facebook span {
      background-image: url('src/assets/images/icons/social/facebook-sprite.svg');
      width: 22px
    }
    &.twitter span {
      background-image: url('src/assets/images/icons/social/twitter-sprite.svg');
      width: 25px;
    }
    &.youtube span {
      background-image: url('src/assets/images/icons/social/youtube-sprite.svg');
      width: 30px;
    }
    &.google span {
      background-image: url('src/assets/images/icons/social/google-sprite.svg');
      width: 32px;
    }
  }
}

.legal-links {
  padding-top: 1.4em;
  border-top: 1px solid $body-copy-grey;
  
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
  
  ul {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 690px) {
      display: grid;
      grid-template-columns: 6fr;
    }

    li {
      margin-right: 1.875em;
      @media screen and (max-width: 690px) {
        text-align: center;
        margin: 0.3em 0;
      }
    }
    @media screen and (max-width: 768px) {
      li:last-child {
        margin-right: 0;
      }
    }
    a.tertiary {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      
      &:hover {
        border-bottom: 1px solid $white;

        span {
          color: $white;
        }
      }
    }
    span {
      color: $defining-grey;
    }
  }
}

.copyright {
  margin-top: 1.3em;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}