<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="column"></div>
    <div class="column">
      <div class="row">
        <div class="footer-list">
          <div class="social-links">
            <ul>
              <li><a class="social-icon facebook" href="#example"><span>Facebook</span></a></li>
              <li><a class="social-icon twitter" href="#example"><span>Twitter</span></a></li>
              <li><a class="social-icon youtube" href="#example"><span>YouTube</span></a></li>
              <li><a class="social-icon google" href="#example"><span>Google</span></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-list">
          <div class="legal-links">
            <ul>
              <li><a class="button tertiary regular" href="#example"><span>Legal</span></a></li>
              <li><a class="button tertiary regular" href="#example"><span>Privacy policy</span></a></li>
              <li><a class="button tertiary regular" href="#example"><span>Cookie policy</span></a></li>
              <li><a class="button tertiary regular" href="#example"><span>Accessibility</span></a></li>
              <li><a class="button tertiary regular" href="#example"><span>Glossary of terms</span></a></li>
              <li><a class="button tertiary regular" href="#example"><span>Sitemap</span></a></li>
            </ul>
          </div>
          <div class="copyright">
            <ul>
              <li>© 2019 Aviva</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</footer>