@import 'textbox';
@import 'textarea';
@import 'dropdown';
@import 'multiselect';
@import 'checkbox';
@import 'iconpicker';
@import '../colors';

input, select, textarea {
  &:focus {
    border-color: $guide-blue;
    box-shadow: none;
    outline: none;
  }
}

.is-valid {
  input, select, textarea, .dropdown-select {
    border-color: $positive-green;
  }
  .dropdown-select ~ .dropdown-ui {
    background-position: -74px;
  }
}
.has-error {
  input, select, textarea, .dropdown-select {
    border-color: $error-red;
  }
  .dropdown-select ~ .dropdown-ui {
    background-position: -32px;
  }
}

.img-label {
  pointer-events: none;
}