<div class="hero hero-container medium">
  <div class="hero-content">
    <h1 class="heading-0 font-light">
      Welcome to <span appId8Logo [logoStyle]="'light'">id[8]</span>
    </h1>
    <div class="button-area">
      <button class="button primary" routerLink="/ideas/add" *ngIf="authService.isAuthenticated">Submit an idea</button>
      <button class="button primary" (click)="openLoginModal()" *ngIf="!authService.isAuthenticated">Login to submit</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">

    <div class="row">
      <div class="idea-list">
        <div class="idea-list__heading">
          <h2 class="heading-1 font-light">Ideas</h2>
        </div>
        <div class="idea-list__filter">
          <idea-filter></idea-filter>
        </div>
        <div class="idea-list__body">
          <idea-list></idea-list>
        </div>
      </div>
    </div>

  </div>
</div>
