<header class="nav">
  <input type="checkbox" class="nav-toggle" id="navToggle" />
  <label for="navToggle" class="nav-toggle-label" (click)="toggleNav()">X</label>
  <div class="nav-logo"></div>
  <nav class="nav-links">
    <ul>
      <li class="heading-4 font-semi-bold" routerLink="/ideas">
        <a routerLink="/ideas">View ideas</a>
      </li>
      <li class="heading-4 font-semi-bold" routerLink="/ideas/add">
        <a routerLink="/ideas/add">Submit idea</a>
      </li>
    </ul>
    <div class="nav-action-area">
      <div class="nav-action-login">
        <button type="button" class="button primary">Login</button>
      </div>
      <div class="nav-action-search">
        <button type="button" class="button transparent">Search</button>
      </div>
    </div>
  </nav>
</header>

<div class="content-push"></div>
<div class="overlay" *ngIf="isNavOpen" @fadeInOut></div>