$aviva-yellow: #FFD900;
$aviva-yellow-dark-10: mix(black, $aviva-yellow, 10);
$aviva-yellow-dark-20: mix(black, $aviva-yellow, 20);

$white: #FFFFFF;
$body-copy-grey: #444444;
$heading-grey: #5C596D;
$defining-grey: #CCCCCC;
$light-grey: #EEEEEE;
$lightest-grey: #F9F9F9;

$aviva-blue: #004FB6;
$aviva-blue-dark-10: mix(black, $aviva-blue, 10);
$aviva-blue-dark-20: mix(black, $aviva-blue, 20);
$aviva-blue-light-10: mix(white, $aviva-blue, 10);

$positive-green: #4F9F31;
$guide-blue: #44C0FF;
$error-red: #BD2624;
$warning-orange: #FFA000;

$dark-blue: #001E60;
$light-blue: #1A61BD;
$lightest-blue: #E5EDF8;
$dark-green: #0E573F;
$dark-purple: #421B67;
$light-purple: #87378E;
$pink: #C01B83;
$teal: #009AB1;
$dark-grey: #413E45;