.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 0.5fr 11fr 0.5fr;
  }
}

.row {
  margin: 1em 0;
}