@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-dialog-container {
  padding: 0 !important;
  border-radius: 10px !important;
  
  .button-area {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.cdk-overlay-pane {
  height: auto;
  width: 600px;

  @media screen and (max-width: 1024px) {
    width: 600px;
  }
  @media screen and (max-width: 768px) {
    width: 500px;
  }
  @media screen and (max-width: 425px) {
    width: 95%;
  }
}