.mat-snack-bar-container {
  margin: 24px auto !important;

  &.error {
    background-color: $error-red;
  }
  &.success {
    background-color: $positive-green;
  }
  
  .mat-simple-snackbar {
    span {
      color: $white;
    }
    .mat-simple-snackbar-action {
      color: $white;
    }
  }
}