h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: $heading-grey;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: $heading-grey;
}

.heading {
  &-0 {
    font-size: 4.375em;
    @media screen and (max-width: 768px) {
      font-size: 4.25em;
    }
    @media screen and (max-width: 425px) {
      font-size: 2.625em;
    }
  }

  &-1 {
    font-size: 2.625em;
    @media screen and (max-width: 768px) {
      font-size: 2.25em;
    }
    @media screen and (max-width: 425px) {
      font-size: 2em;
    }
  }

  &-2 {
    font-size: 1.75em;
    @media screen and (max-width: 768px) {
      font-size: 1.625em;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.5em;
    }
  }

  &-3 {
    font-size: 1.25em;
  }

  &-4 {
    font-size: 1em;
  }
}

p {
  font-size: 1em
}
.italic {
  font-style: italic
}
label, .label {
  color: $heading-grey;
  display: block;
  font-size: 1.375em;
  font-style: normal;
  left: auto;
  letter-spacing: -.0045em;
  line-height: 1.363em;
  margin: 0 0 .4545em;
}

.id8-logo {
  font-family: 'Inconsolata', monospace;
  letter-spacing: -5px;
}

.font-extra-light {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}